<div>
  <h2 id="page-heading" data-cy="TransizioniHeading">
    <span jhiTranslate="jwayApp.transizioni.home.title">Transizionis</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jwayApp.transizioni.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-transizioni"
        [routerLink]="['/transizioni/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jwayApp.transizioni.home.createLabel"> Create a new Transizioni </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="transizionis?.length === 0">
    <span jhiTranslate="jwayApp.transizioni.home.notFound">No transizionis found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="transizionis && transizionis.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="idTransizione">
            <span jhiTranslate="jwayApp.transizioni.idTransizione">Id Transizione</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dsTransizione">
            <span jhiTranslate="jwayApp.transizioni.dsTransizione">Ds Transizione</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="processo.id">
            <span jhiTranslate="jwayApp.transizioni.processo">Processo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="stadioIniziale.id">
            <span jhiTranslate="jwayApp.transizioni.stadioIniziale">Stadio Iniziale</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="stadioFinale.id">
            <span jhiTranslate="jwayApp.transizioni.stadioFinale">Stadio Finale</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transizioni of transizionis; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/transizioni', transizioni.id, 'view']">{{ transizioni.id }}</a>
          </td>
          <td>{{ transizioni.idTransizione }}</td>
          <td>{{ transizioni.dsTransizione }}</td>
          <td>
            <div *ngIf="transizioni.processo">
              <a [routerLink]="['/processo', transizioni.processo?.id, 'view']">{{ transizioni.processo?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="transizioni.stadioIniziale">
              <a [routerLink]="['/stadio', transizioni.stadioIniziale?.id, 'view']">{{ transizioni.stadioIniziale?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="transizioni.stadioFinale">
              <a [routerLink]="['/stadio', transizioni.stadioFinale?.id, 'view']">{{ transizioni.stadioFinale?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/transizioni', transizioni.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/transizioni', transizioni.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(transizioni)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="transizionis && transizionis.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
