<div>
  <h2 id="page-heading" data-cy="EventoHeading">
    <span jhiTranslate="jwayApp.evento.home.title">Eventos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jwayApp.evento.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-evento"
        [routerLink]="['/evento/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jwayApp.evento.home.createLabel"> Create a new Evento </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="eventos?.length === 0">
    <span jhiTranslate="jwayApp.evento.home.notFound">No eventos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="eventos && eventos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="idEvento">
            <span jhiTranslate="jwayApp.evento.idEvento">Id Evento</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tsEvento">
            <span jhiTranslate="jwayApp.evento.tsEvento">Ts Evento</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="note"><span jhiTranslate="jwayApp.evento.note">Note</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="assistito.id">
            <span jhiTranslate="jwayApp.evento.assistito">Assistito</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tipo.id"><span jhiTranslate="jwayApp.evento.tipo">Tipo</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="gestore.id">
            <span jhiTranslate="jwayApp.evento.gestore">Gestore</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="origine.id">
            <span jhiTranslate="jwayApp.evento.origine">Origine</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let evento of eventos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/evento', evento.id, 'view']">{{ evento.id }}</a>
          </td>
          <td>{{ evento.idEvento }}</td>
          <td>{{ evento.tsEvento | formatMediumDatetime }}</td>
          <td>{{ evento.note }}</td>
          <td>
            <div *ngIf="evento.assistito">
              <a [routerLink]="['/assistito', evento.assistito?.id, 'view']">{{ evento.assistito?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="evento.tipo">
              <a [routerLink]="['/tipo-evento', evento.tipo?.id, 'view']">{{ evento.tipo?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="evento.gestore">
              <a [routerLink]="['/gestore', evento.gestore?.id, 'view']">{{ evento.gestore?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="evento.origine">
              <a [routerLink]="['/produttore', evento.origine?.id, 'view']">{{ evento.origine?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/evento', evento.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/evento', evento.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(evento)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
