<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="stato">
      <h2 data-cy="statoDetailsHeading"><span jhiTranslate="jwayApp.stato.detail.title">Stato</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ stato.id }}</span>
        </dd>
        <dt><span jhiTranslate="jwayApp.stato.idStadio">Id Stadio</span></dt>
        <dd>
          <span>{{ stato.idStadio }}</span>
        </dd>
        <dt><span jhiTranslate="jwayApp.stato.dsStadio">Ds Stadio</span></dt>
        <dd>
          <span>{{ stato.dsStadio }}</span>
        </dd>
        <dt><span jhiTranslate="jwayApp.stato.tsCambioStato">Ts Cambio Stato</span></dt>
        <dd>
          <span>{{ stato.tsCambioStato | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="jwayApp.stato.stadio">Stadio</span></dt>
        <dd>
          <div *ngIf="stato.stadio">
            <a [routerLink]="['/stadio', stato.stadio?.id, 'view']">{{ stato.stadio?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/stato', stato.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
